<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Tapestry5"
            id="com.anjlab.eclipse.tapestry5.commands.category">
      </category>
      <command
            name="Switch Tapestry Design/Code"
            categoryId="com.anjlab.eclipse.tapestry5.commands.category"
            id="com.anjlab.eclipse.tapestry5.commands.switchCommand">
      </command>
      <command
            name="Create File for Tapestry5"
            categoryId="com.anjlab.eclipse.tapestry5.commands.category"
            id="com.anjlab.eclipse.tapestry5.commands.createCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.anjlab.eclipse.tapestry5.commands.switchCommand"
            class="com.anjlab.eclipse.tapestry5.handlers.SwitchHandler">
      </handler>
      <handler
            commandId="com.anjlab.eclipse.tapestry5.commands.createCommand"
            class="com.anjlab.eclipse.tapestry5.handlers.CreateHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.anjlab.eclipse.tapestry5.commands.switchCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+R"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.anjlab.eclipse.tapestry5.toolbars.mainToolbar">
            <command
                  commandId="com.anjlab.eclipse.tapestry5.commands.switchCommand"
                  icon="icons/tapestry-logo.png"
                  tooltip="Switch Tapestry Design/Code"
                  id="com.anjlab.eclipse.tapestry5.toolbars.switchCommand">
            </command>
            <command
                  commandId="com.anjlab.eclipse.tapestry5.commands.createCommand"
                  icon="IMG_OBJ_ADD"
                  tooltip="Create File for Tapestry5"
                  id="com.anjlab.eclipse.tapestry5.toolbars.createCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.anjlab.eclipse.tapestry5"
            name="Tapestry5">
      </category>
      <view
            category="com.anjlab.eclipse.tapestry5"
            class="com.anjlab.eclipse.tapestry5.views.TapestryContextView"
            icon="icons/tapestry-logo.png"
            id="com.anjlab.eclipse.tapestry5.views.TapestryContextView"
            name="Tapestry Context">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.anjlab.eclipse.tapestry5.views.TapestryContextView"
               ratio="0.5"
               relationship="top"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
         <hyperlinkDetector
            id="com.anjlab.eclipse.tapestry5.hyperlink.TapestryComponentHyperlinkDetector"
            class="com.anjlab.eclipse.tapestry5.hyperlink.TapestryComponentHyperlinkDetector"
            targetId="org.eclipse.ui.DefaultTextEditor"
            name="Tapestry Component Hyperlink Detector">
         </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
         <viewContribution
            id="com.anjlab.eclipse.tapestry5.viewActions"
            targetID="com.anjlab.eclipse.tapestry5.views.TapestryContextView">
            <action id="com.anjlab.eclipse.tapestry5.actions.CreateAction"
                toolbarPath="additions"
                tooltip="Create..."
                icon="IMG_OBJ_ADD"
                class="com.anjlab.eclipse.tapestry5.actions.CreateActionViewDelegate">
            </action>
         </viewContribution>
   </extension>
</plugin>
