<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Tapestry5"
            id="com.anjlab.eclipse.tapestry5.commands.category">
      </category>
      <command
            name="Quick Switch within Tapestry Context"
            categoryId="com.anjlab.eclipse.tapestry5.commands.category"
            id="com.anjlab.eclipse.e4.tapestry5.commands.quickSwitchCommand">
      </command>
      <command
            name="Quick Navigation within Tapestry Project"
            categoryId="com.anjlab.eclipse.tapestry5.commands.category"
            id="com.anjlab.eclipse.e4.tapestry5.commands.quickNavigationCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.anjlab.eclipse.e4.tapestry5.commands.quickSwitchCommand"
            class="com.anjlab.eclipse.e4.tapestry5.handlers.QuickSwitchHandler">
      </handler>
      <handler
            commandId="com.anjlab.eclipse.e4.tapestry5.commands.quickNavigationCommand"
            class="com.anjlab.eclipse.e4.tapestry5.handlers.QuickNavigationHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.anjlab.eclipse.e4.tapestry5.commands.quickSwitchCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+;"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="com.anjlab.eclipse.e4.tapestry5.commands.quickNavigationCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+Shift+;"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="toolbar:com.anjlab.eclipse.tapestry5.views.project.TapestryProjectOutlineView">
            <command
                  commandId="com.anjlab.eclipse.e4.tapestry5.commands.quickNavigationCommand"
                  tooltip="Quick Navigation"
                  id="com.anjlab.eclipse.e4.tapestry5.toolbars.quickNavigationCommand">
            </command>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.anjlab.eclipse.e4.tapestry5.commands.quickNavigationCommand"
            disabledIcon="platform:/plugin/org.eclipse.search/icons/full/dtool16/search.png"
            icon="platform:/plugin/org.eclipse.search/icons/full/etool16/search.png"/>
   </extension>
</plugin>
